iudx-authenticator/target/*
iudx-api-server/target/*
swarm/.env
cluster/.env
single-node/.env
swarm/docker-compose.json
cluster/docker-compose.json
tests/multi-node/out.xml
tests/multi-node/device_keys
tests/multi-node/owner_keys
iudx-api-server/iudx-api-server-0.0.1-SNAPSHOT-fat.jar
iudx-api-server/bin/*
iudx-authenticator/bin/*
iudx-api-server/.settings/
iudx-authenticator/.settings/
iudx-api-server/.*
iudx-authenticator/.*
iudx-api-server/src/main/generated/*

