[submodule "test-suite"]
	path = test-suite
	url = https://github.com/rbccps-iisc/iudx-test-suite
[submodule "iudx-api-server"]
	path = iudx-api-server
	url = https://github.com/rbccps-iisc/iudx-api-server
[submodule "iudx-dbconnector"]
	path = iudx-dbconnector
	url = https://github.com/rbccps-iisc/iudx-dbconnector
[submodule "iudx-authenticator"]
	path = iudx-authenticator
	url = https://github.com/rbccps-iisc/iudx-authenticator
