iudx-authenticator/target/*
iudx-api-server/target/*
swarm/.env
cluster/.env
single-node/.env
swarm/docker-compose.json
cluster/docker-compose.json
tests/multi-node/out.xml
tests/multi-node/device_keys
tests/multi-node/owner_keys
api-server/api-server-fat.jar
authenticator/authenticator-fat.jar
api-server/bin/*
authenticator/bin/*
api-server/.settings/
authenticator/.settings/
api-server/.*
authenticator/.*
api-server/src/main/generated/vermillion/broker/*
api-server/src/main/generated/vermillion/database/*
authenticator/src/main/generated/vermillion/broker/*
authenticator/src/main/generated/vermillion/database/*
auth-server/node_modules/
api-server/file-uploads/
api-server/webroot/
single-node/provider/
api-server/api-server.iml
authenticator/authenticator.iml
api-server/src/main/resources/
authenticator/src/main/resources/
datasetu-ca/resource-server/*.pem
datasetu-ca/provider/*.pem
datasetu-ca/consumer/*.pem
