sudo: required

dist: xenial

before_install:
  - ./test-suite/require.sh

language: python

install:
  - ./docker/install

before_script:
  - sleep 10
  - cd test-suite
  - git pull origin master
  - cd ..

script:
  - ./test-suite/test functional --random
  - ./test-suite/test security
  - ./test-suite/test concurrency
