[
{
        rabbitmq_management,
        [
{
                        listener, [
                                {port,     15672},
                                {ssl,      true},
                                {
                                        ssl_opts, [
                                                {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                                                {certfile,   "/etc/rabbitmq/server_certificate.pem"},
                                                {keyfile,    "/etc/rabbitmq/server_key.pem"},
                                                {verify,     verify_peer},
                                                {fail_if_no_peer_cert, false}
                                        ]
                                }
                        ]
                }
        ]
},
{
	rabbit,[
	{
		auth_backends, [rabbit_auth_backend_cache]
	}, 
	{
		tcp_listeners,[5672]
	},
	{
		vm_memory_high_watermark, 0.66
	},
	{
		disk_free_limit, {mem_relative, 2.0}
	},
	{
		ssl_listeners, [5671]
	},
	{	ssl_options, [
			{cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                    	{certfile,   "/etc/rabbitmq/server_certificate.pem"},
                    	{keyfile,    "/etc/rabbitmq/server_key.pem"},
                    	{verify,     verify_peer},
                    	{fail_if_no_peer_cert, false}
			]
	},
	{
		log, [
			{file, [{file, "/var/log/rabbitmq/rabbit@rabbitmq.log"},
					{level, info},
					{date, "$D23"},
					{size, 0},
					{count, 1}
			]}
        	]
	}
	]
},
{
	rabbitmq_auth_backend_cache, [
				{cached_backend, rabbit_auth_backend_http},
                                {cache_ttl, 3600000}
			]
},
{
	rabbitmq_auth_backend_http,
		[{
		http_method, get 
	},
	{
		user_path, "http://authenticator/auth/user"
	},
	{
		vhost_path, "http://authenticator/auth/vhost"
	},
	{
		resource_path, "http://authenticator/auth/resource"
	},
	{
		topic_path, "http://authenticator/auth/topic"
	}]
}
].
