[
{
	rabbitmq_management,
	[
		{
			listener, [
				{port,     15672}
              		]
		}
	]
},
{
	rabbit,[
	{
		auth_backends, [rabbit_auth_backend_cache]
	}, 
	{
		tcp_listeners,[5672]
	},
	{
		ssl_listeners, [5671]
	},
	{	ssl_options, [
			{cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                    	{certfile,   "/etc/rabbitmq/server_certificate.pem"},
                    	{keyfile,    "/etc/rabbitmq/server_key.pem"},
                    	{verify,     verify_peer},
                    	{fail_if_no_peer_cert, false}
			]
	},
	{
		log, [
			{file, [{file, "/var/log/rabbitmq/rabbit@rabbitmq.log"},
					{level, info},
					{date, "$D23"},
					{size, 0},
					{count, 1}
			]}
        	]
	}
	]
},
{
	rabbitmq_auth_backend_cache, [
				{cached_backend, rabbit_auth_backend_http},
                                {cache_ttl, 60000}
			]
},
{
	rabbitmq_auth_backend_http,
