[
 {
	rabbitmq_mqtt,[{
		default_user, <<"?" >>
	},
	{
		default_pass, <<"?" >>
	},
	{
		allow_anonymous, false
	},
	{
		vhost, <<"?" >>
	},
	{
		exchange, <<"?" >>
	},
	{
		subscription_ttl, 1800000
	},
	{
		prefetch, 10
	},
	{
		ssl_listeners,[]
	},
	{
		tcp_listeners,[1883]
	},
	{
		tcp_listen_options,[{
			backlog, 128
		},
		{
			nodelay, true
		}]
	}]
},
{
	rabbit,[
	{
		auth_backends, [rabbit_auth_backend_cache]
	}, 
	{
		tcp_listeners,[5672]
	},
	{
		ssl_listeners, [5671]
	},
	{	ssl_options, [
			{cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                    	{certfile,   "/etc/rabbitmq/server_certificate.pem"},
                    	{keyfile,    "/etc/rabbitmq/server_key.pem"},
                    	{verify,     verify_peer},
                    	{fail_if_no_peer_cert, false}
			]
	}
	]
},
{
	rabbitmq_auth_backend_cache, [
				{cached_backend, rabbit_auth_backend_http},
                                {cache_ttl, 60000}
			]
},
{
	rabbitmq_auth_backend_http,
		[{
		http_method, get 
	},
	{
		user_path, "http://127.0.0.1/auth/user"
	},
	{
		vhost_path, "http://127.0.0.1/auth/vhost"
	},
	{
		resource_path, "http://127.0.0.1/auth/resource"
	},
	{
		topic_path, "http://127.0.0.1/auth/topic"
	}]
}
].
